.container {
	display: flex;
	justify-content: center;
}

.pagination {
	display: flex;
	gap: 4px;
}

.pageLink {
	font-family: 'Inter';
	font-size: 16px;
	font-weight: 300;
	list-style: none;
	display: flex;
}

.test {
	display: flex;
	text-decoration: none;
	padding: 1px 8px 1px 8px;
	border-radius: 4px;
	color: rgb(87, 87, 87);
}

.test:active {
	background: rgba(18, 18, 18, 0.05);
	font-weight: 500;
}

a {
	padding: 1px 8px 1px 8px;
}
